.black-btn,
.white-btn {
  font-size: 16px;
  font-weight: 500;
  border-radius: 62px;
  padding: 16px 54px;
  cursor: pointer;
  transition: 0.3s;
}

.black-btn {
  background-color: $black;
  border: 1px solid $black;
  color: $white;

  &:hover {
    color: $black;
    background-color: transparent;
  }

  &:active {
    background-color: $black;
    border: 1px solid $black;
    color: $white;
  }
}

.white-btn {
  background-color: $white;
  border: 1px solid white;
  color: $black;
}

@media only screen and (max-width: 960px){
  .black-btn, .white-btn{
    font-size: 16px;
    padding: 12px 36px;
  }
}