.products {
  margin-bottom: 80px;

  .product-title {
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: $black;
    margin-bottom: 55px;
  }

  .product-items {
    margin-bottom: 36px;
    column-gap: 20px;
    overflow: hidden;

    .product-img {
      margin-bottom: 16px;
    }

    .product-content {
      .product-name {
        margin-bottom: 8px;
        font-weight: 700;
        font-size: 16px;
        color: $black;
        text-transform: capitalize;
      }

      .starts {
        font-weight: 400;
        font-size: 14px;
        color: $black;
        column-gap: 13px;
        margin-bottom: 8px;

        span {
          color: $black-400;
        }
      }

      .price {
        column-gap: 8px;
        font-weight: 700;
        font-size: 20px;

        span {
          color: $black-600;
          text-decoration: line-through;
        }

        .extra {
          background-color: $redLight;
          border-radius: 62px;
          padding: 6px 14px;
          font-weight: 500;
          font-size: 12px;
          color: $red-100;
        }
      }
    }
  }

  button {
    border: 1px solid $black-900;
    border-radius: 62px;
    padding: 16px 54px;
    font-weight: 500;
    font-size: 16px;
    color: $black;
    text-decoration: none;
    margin: 0 auto;
    cursor: pointer;

    &:hover {
      border: 1px solid $black;
    }
  }
}
