$black: #0f00b7;
$white: #f5f9ff;
$white-100: #f5f9ffd0;

.auth{
  height: 100vh;
  background-image: url("https://img.pikbest.com/ai/illus_our/20230523/ec3431cce189485d6768b85012faee2d.jpg!sw800");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;

  .logo{
    a{
      color: $white;
    }
  }
}

.login, .register {
  width: 100%;

  .form-block {
    width: 300px;
    padding: 40px 40px 80px;
    margin: 100px auto;
    box-shadow: 0px 0px 5px $black;
    border-radius: 5px;
    backdrop-filter: blur(10px);

    h2{
      text-align: center;
      margin-bottom: 40px;
      color: $white;
    }

    form {
        margin-bottom: 20px;

      label {
        display: block;
        width: 100%;
        margin-bottom: 6px;
        color: $white;
        font-weight: 600;
      }

      input {
        width: 100%;
        margin-bottom: 20px;
        border: 0;
        outline: 0;
        border-bottom: 1px solid $white;
        color: $white;
        padding: 2px 5px;
        background-color: transparent;
      
        &::placeholder{
          color: $white-100;
        }
      }

      button {
        background-color: $black;
        color: $white;
        border: 1px solid $white;
        transition: 0.3s;
        cursor: pointer;
        padding: 5px 25px;
        border-radius: 5px;

        &:hover {
          background-color: transparent;
        }
      }
    }
  }

  .btn{
    width: 100%;

    .links{
      text-decoration: underline;
        margin: 0 auto;
        background-color: transparent;
        border: 0;
        font-size: 16px;
        color: $black;
        font-weight: 600;
        cursor: pointer;
    }
  }
}

