.happy-contents {
  position: relative;
}

.head-happy {
  margin-bottom: 40px;
  position: relative;

  .title {
    margin-bottom: 0;
  }

  .swiper-btns {
    position: absolute;
    right: 0;
    top: 50%;
    display: flex;
    justify-content: 50px;
    column-gap: 10px;

    .swiper-button-prev,
    .swiper-button-next {
      color: #121212;
      position: static;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
      display: none;
    }
  }
}

.wrapper {
  overflow: hidden;

  .swiper {
    width: 100%;
    .swiper-wrapper {
      .swiper-slide {
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        padding: 28px 32px;
        height: 240px;

        .starts {
          column-gap: 6px;
          margin-bottom: 19px;
        }

        .happy-title {
          column-gap: 4px;
          font-weight: 700;
          font-size: 20px;
          line-height: 110%;
          color: #000;
          margin-bottom: 16px;
        }

        .content {
          font-weight: 400;
          font-size: 16px;
          line-height: 137%;
          color: rgba(0, 0, 0, 0.6);
        }
      }
    }
  }
}

@media only screen and (max-width: 640px){
  .head-happy{
    .title{
      max-width: 50%;
    }
  }
}
