.cart-detalies {
  .product-detalist {
    .product-info {
      .product-info-title {
        font-weight: 700;
        font-size: 40px;
        color: $black;
        margin-bottom: 14px;
      }

      .starts{
        margin-bottom: 14px;
      }
    }
  }
}
